/* Fonts */

/* Defaults */
:root {
	--font-family: "WarblerText", "Roslindale Variable", monospace;
	--font-family-monospace: "ESKlarheit Kurrent Mono", "Berkeley Mono", monospace;
	--font-family-peak: "ES Peak";
	--font-family-akkurat: "AkkuratMono-Regular";
	--font-family-esklarheit: "ESKlarheit Kurrent Mono";
	--font-family-roslindale: "RoslindaleText";
}


  

/* Theme colors */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-90: #333;

	--background-color: #E0E2DB; 

	/* --text-color: var(--color-gray-90); */
	--text-color-link: #d414fb;
	--text-color-link-active: #6969f7;
	--text-color-link-visited: #202020;

	--syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: #e0e0e0;
		--color-gray-50: #C0C0C0;
		--color-gray-90: #dad8d8;
	
		/* --text-color is assigned to --color-gray-_ above */
		--text-color-link: #1493fb;
		--text-color-link-active: #6969f7;
		--text-color-link-visited: #a6a6f8;

		--background-color: #15202b;
	}
}


/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	padding-left: auto;
	margin: 0px 0rem 0rem 0rem;
	font-family: "WarblerText";/*var(--font-family);*/
	/* font-style: normal; */
	font-variation-settings: 'wght' 200, 'slnt' 0;
	color: var(--text-color);
	background-color: var(--background-color);
}
html {
	@apply overflow-x-hidden;
}

@media (max-width: 768px) { /* Adjust this value based on your design needs */
    html, body {
        /* width: 100%; Full width on mobile devices */
		margin: 1rem auto auto 0.5rem;
		/* padding: 0.1rem; */
    }
}


/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.25;
	margin-bottom: 1em;
}
em {
	font-variation-settings: 'wght' 300, 'slnt' -1;
}

strong {
	/* font-family: "Roslindale Variable", sans-serif; */
	font-style: bold;
	font-variation-settings: 'wght' 600;
}



a[href] {
	color: var(--text-color-link);
	text-decoration: underline;
}
a[href]:visited {
	color: var(--text-color-link-visited);
	text-decoration: underline
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

main {
	padding: 1rem;
}
main :first-child {
	margin-top: 0;
}

header {
	border-bottom: 1px dashed var(--color-gray-20);
}
header:after {
	content: "";
	display: table;
	clear: both;
}

.links-nextprev {
	list-style: none;
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

.image-id {
    max-width: 80vw;
    height: auto;
}

.blog-header-img {
	/* width: 80vw;
	height: auto;
	margin: 2em;
	margin-left: 2px; */

	@apply rounded-md;
	@apply rounded-tr-[10px];
	@apply mb-[12px];
	@apply shadow-xl;
	width: auto;      
    max-width: 100%;  
    height: auto;
  }

  h1 {
	margin-bottom: 0.8rem;
	margin-top: 1.2rem;
	font-size: 1.8rem;
	font-family: "Rebond Grotesque";
	font-weight: bold;
	line-height: 1.6rem;
  }

  /* h1 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
  } */
  
  h2 {
	margin-top: 0.75em;
	margin-bottom: 0.75em;
  }

  h3 {
	margin-top: 1.5em;
	font-weight: bold;
  }
  

.blockquote {
	margin-top:5%;
    margin-bottom:5%;
	font-size: 1em;
	color: green;
	background-color: var(--color-gray-20);
}

.blockquote-short {
	/* font-family: "Calibre";
	font-style: normal; */
	font-weight: 400;
	font-size: 1em;
	margin-top:5%;
    margin-bottom:5%;
	font-size: 1em;
	/* background-color: var(--color-gray-100); */
}


.date {
	font-family: "Calibre";
	font-style: normal;
	font-weight: 400;
	font-size: 1em;
}

.date-mono {
	font-family: "var(--font-family-monospace)";
	font-weight: normal;
	font-size: 0.85em;
}

.posttitle, .postsubtitle {
    font-family: "FormaDJRVariable";
    font-style: normal;
    line-height: 0.8em;
}

.posttitle {
    font-variation-settings: 'wght' 800;
	@apply max-w-2xl;
    /* font-size: 4.00em; Default size */
}

.postsubtitle {
    font-variation-settings: 'wght' 400, 'slnt' -5;
    /* font-size: 3.00em; Default size */
}

@media (min-width: 769px) {
    .posttitle {
        font-size: 5.0em; /* Larger size */
    }
	.postsubtitle {
        font-size: 3.0em; /* Larger size */
    }

}

/* Medium screens */
@media (max-width: 768px) {
    .posttitle{
        font-size: 3.50em; /* Smaller size for medium screens */
    }
	.postsubtitle{
        font-size: 2.50em; /* Smaller size for medium screens */
    }
}

/* Small screens */
@media (max-width: 480px) {
    .posttitle {
        font-size: 3.00em; /* Even smaller size for small screens */
    }
	.postsubtitle {
        font-size: 2.00em; /* Even smaller size for small screens */
    }
}


.indexlink {
	font-family: myFirstFont;
	font-size: 4em;
	font-weight: bold;
}

.ad {
	font-family: var(--font-family-peak);
	font-weight: 300;
	font-size: 0.9em;
	background-color: hsl(0, 0%, 95%);
	line-height:1.2em;
	border-radius: 0.3rem;
	padding-left: 0.625rem;
	padding-right: 0.625rem;
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: 1rem;
	margin-right: 2rem;
}

.site-title {
	font-family: "ESKlarheit Kurrent Mono";
	font-size: 3em;
	font-weight: bold;
	/* Other styling properties */
  }

pre {
	font-family: "Roslindale Variable"; 
	font-variation-settings: 'wght' 200;
	font-variation-settings: 'slnt' 0;	
	font-size: 1em;
	background-color: #e8e8e8;
	border-radius: 0.5rem;
	padding: 2rem;
}

code {
	font-family: "sans-serif"; 
	font-variation-settings: 'wght' 300;
	border-radius: 1rem;
	padding: 0rem;
}

.transcript {
	font-family: "WarblerTex"; 
	font-size: 0.9em;
	background-color: #e8e8e8;
	border-radius: 0.5rem;
	padding: 2rem;
}


pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; 
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}

/* Header */
header {
	display: flex;
	gap: 1em .5em;
	flex-wrap: wrap;
	align-items: center;
	padding: 1em;
}
.home-link {
	font-size: 1em; /* 16px /16 */
	font-weight: 700;
	margin-right: 2em;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
.nav {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
	padding-left: 1.5rem;
}
.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	counter-increment: start-from -1;
	margin-bottom: 1em;
}
.postlist-item:before {
	display: inline-block;
	pointer-events: none;
	content: "" counter(start-from, decimal-leading-zero) ". ";
	line-height: 100%;
	text-align: right;
	margin-left: -1.5rem;
}
.postlist-date,
.postlist-item:before {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--color-gray-90);
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	padding-left: .25em;
	padding-right: .5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: .1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: #aaaa;
}

h2 + .header-anchor {
	font-size: 1.5em;
}


ol,
menu {
  list-style: list-decimal;
  margin: 0;
  padding: 0;
}

ol p {
	margin-left: 0.5rem;
    margin-bottom: 0.2rem;
}

ol {
	padding-left: 0.8rem; /* Adjust this value as needed to move numbers to the right */
  }

ol li::marker {
	/* color: red; Change the color of the numbers */
	font-size: 1rem; /* Change the size of the numbers */
	font-family: 'WarblerDisplay';
	font-style: italic;
  }
  
  /* For unordered list bullets */
  ul li::marker {
	color: black; /* Change the color of the bullet points */
  }



li > p:last-child {
    margin-bottom: 1.5rem; /* Adjust as needed */
}



p:has(+ ol) {
    /* Styles for a <p> tag that is directly followed by a <ul> */
	/* margin-bottom: 2.5rem; */
	/* border-bottom: 1px solid #909090;  */
	/* Thin black bottom border */
    /* padding-bottom: 1rem;  */
	/* Space between content and border */
}

ul {
    list-style-type: disc; /* Set the marker style to disc */
    padding-left: 1em; /* Add some left padding for the markers */
	margin-bottom: 2rem;
}

ul li {
    margin-bottom: 0.5rem;
	
}

li {
	line-height: 1.25;
	margin-bottom: 1.5em;
	padding-left: 0.25rem;
}

li:not(:last-child) { 
	margin-bottom: 1.2rem;  
 }

p:last-child {
    margin-bottom: 1rem;
}



.metadata-title-header {
	font-family: var(--font-family-monospace);
	font-weight: 600;
	font-size: 0.8rem;
	margin-bottom: 0em;
	width: 18rem;
	/*padding: 0.5em;*/
	/*display: inline-block; *//* or block, depending on your layout needs */
	/*background-color: var(--color-gray-20);*/
	/* @apply bg-cyan-200; */
	@apply bg-stone-400;
	@apply rounded-tl-md;
	@apply rounded-tr-lg;
}

/* a way to list posts, this is for the title */
.index-post-title-header {
	font-family: var(--font-family-monospace);
	font-weight: 600;
	font-size: 1rem;
	margin-bottom: 0em;
	padding: 0.75em;
	/*display: inline-block; *//* or block, depending on your layout needs */
	/*background-color: var(--color-gray-20);*/
	/* @apply bg-cyan-200; */
	@apply bg-stone-300;
	@apply rounded-tl-md;
	@apply rounded-tr-lg;
	@apply shadow-lg;
	@apply w-full;
	@apply max-w-2xl;
	/* @apply max-w-[30rem]; */
	@apply min-h-[3em];
}

@media (max-width: 768px) { /* Adjust this value based on your design needs */
    .index-post-title-header {
		width: 100%; /* Full width on mobile devices */
    }
}

.index-post-content {
	@apply p-5;
	@apply w-full;
	@apply max-w-2xl;
	@apply shadow-lg;
	@apply mb-5;
	/*display: inline-block; *//* or block, depending on your layout needs */
	/*background-color: var(--color-gray-20);*/
	/* @apply bg-cyan-200; */
	@apply bg-stone-100;
	@apply rounded-b-md;
	/* @apply rounded-tr-[1rem]; */
}

@media (max-width: 768px) { /* Adjust this value based on your design needs */
    .index-post-content {
		width: 100%; /* Full width on mobile devices */
    }
}

.description {
	font-family: "Roslindale Variable"; 
	font-variation-settings: 'wght' 600;
	font-variation-settings: "slnt" -4;
}

figure img {
	@apply rounded-md;
	@apply rounded-tr-[10px];
	@apply mb-[12px];
	@apply shadow-xl;
	width: auto;      /* Default width, adjust as necessary */
    max-width: 100%;  /* Ensure it doesn't overflow its container */
    height: auto;
}

@media (max-width: 768px) { /* Adjust this value based on your design needs */
    figure img {
        width: 100%; /* Full width on mobile devices */
    }
}


figure figcaption {
	@apply mt-0;
	@apply mb-8;
	@apply ml-0;
	@apply text-xs;
	@apply font-mono;
	@apply border-b-[0.5px];
	/* @apply border-slate-600; */
}

.draft-label {
    position: relative;
    top: 30%;
    left: 10%;
    transform: rotate(-5deg);
    font-size: 3em;
	font-family: "FormaDJRMicro";
    font-weight: 900;
    color: rgb(51, 51, 51);
    background-color: rgba(47, 0, 0, 0);
    padding: 0px;
    z-index: 10; /* Ensures it's above other content */
}


.human-content-container {
	@apply bg-stone-200;
	@apply mb-4 p-4 rounded-bl-md rounded-br-lg;
	@apply border-blue-400 border-2
}

.robot-content-container {
	@apply bg-stone-200;
	@apply mb-4 p-4 rounded-bl-md rounded-br-lg;
	@apply border-pink-400 border-2
}


/* Registration Form Styles */
.registration-form {
	font-family: 'Roslindale Variable', sans-serif;
	font-variation-settings: 'wght' 600, 'opsz' 43,  'wdth' 100;
	font-size: 48px;
  }
  
  /* Style for labels */
  .registration-form label {
	display: block; /* Each label on a new line */
	margin-bottom: 10px; /* Space below each label */
  }
  
  /* Style for input fields */
  .registration-form input[type="text"],
  .registration-form input[type="email"],
  .registration-form input[type="password"],
  .registration-form textarea {
	width: 100%; /* Full width of the container */
	padding: 8px;
	margin-top: 5px;
	margin-bottom: 15px;
	border: 1px solid black;
	background-color: lightgray;
	box-sizing: border-box; /* Padding and border included in width */
  }
  
  /* Style for textarea */
  .registration-form textarea {
	height: 150px; /* Adjust height as needed */
	resize: vertical; /* Allow vertical resizing */
  }
  
  
  /* Individual checkbox rows */
.registration-form .checkbox-group .checkbox-row {
	display: flex;
	align-items: baseline; /* Center-align checkbox and label text */
	margin-bottom: 15px; /* Space between checkbox rows */
  }
/* Style for checkboxes */
.registration-form .checkbox-group .checkbox-row input[type="checkbox"] {
	margin-right: 15px; /* Space between checkbox and label text */
	transform: scale(2); /* Enlarge checkbox */
  }
  
/* Style for labels */
.registration-form label {
	display: block; /* Each label on a new line */
	margin-bottom: 10px; /* Space below each label */
	font-size: 20px; /* Increase the font size as needed */
  }

  /* Style for submit button */
  .registration-form button {
	padding: 10px 15px;
	background-color: black;
	color: white;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s;
	font-size: 18px;
	@apply rounded-md;
	margin-left: 0rem;
  }
  
  .registration-form button:hover {
	background-color: #333333;
  }