

/* @font-face {
    font-family: "Rebond Grotesque";
    font-weight: normal;
    src: url("/fonts/rebond-grotesque/ESRebondGrotesque-Regular.woff2") format("woff2"),
  }
   */
  /* @font-face {
    font-family: "Berkeley Mono";
    font-weight: normal;
    src: url("/fonts/berkeley-mono/BerkeleyMonoVariable-Regular.woff2"),
  } */

/* @font-face {
  font-family: "ESKlarheit Kurrent Mono";
  font-weight: normal;
  src: url("/fonts/es-klarheit-kurrent-mono/woff2/ESKlarheitKurrentMono-Rg.woff2")format("woff2");

} */

@font-face {
  src: url('/fonts/roslindale/RoslindaleText-Regular-Testing.woff2') format("woff2");
  font-family: 'RoslindaleText';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('/fonts/roslindale/RoslindaleText-Italic-Testing.woff2') format("woff2");
  font-family: 'RoslindaleText';
  font-style: italic;
  font-weight: normal;
}


@font-face {
  src: url('/fonts/formadjr/FormaDJRDisplay-Bold-Testing.woff2') format("woff2");
  font-family: 'FormaDJRDisplay';
  font-style: normal;
  font-weight: bold;
}




/*****
Standard vs. Numerical Values for Font Weight
100 – Thin.
200 – Extra Light (Ultra Light)
300 – Light.
400 – Normal.
500 – Medium.
600 – Semi Bold (Demi Bold)
700 – Bold.
800 – Extra Bold (Ultra Bold)

*****/