---
import { getCollection } from 'astro:content';
import BaseLayout from "../../layouts/BaseLayout.astro";

const allTags = new Set();
import Tags from "../../components/Tags.astro";
const allBlogs = await getCollection("blog", (blog) => blog.data.draft !== true);
const allDigests = await getCollection("digest")
//debugger;
// Combine tags from both collections, safely handling undefined values
const combinedTags = [...allBlogs, ...allDigests]
  .map(entry => entry.data.tags?.filter(tag => typeof tag === 'string'))
  .filter(Boolean) // Filter out undefined or null values
  .flat();

  const tagsCount = combinedTags.reduce((result, tag) => {
  var count = result[tag] || 0;
  result[tag] = count + 1;
  return result;
}, {});

const tagsList = Array.from(combinedTags);
---
<BaseLayout
  title={`The Near Future Laboratory`}
  description={`All Near Future Laboratory Thinking Tags`}
>

    <h1>All Tags</h1>
    <Tags tags={tagsCount} />

