---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "We're Back..Over Here..";
import Archive from '../components/Archive.astro'
import { getPostsByYear } from '../utils/getPostsByYears.js';

const postsByYear = await getPostsByYear();
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Here you can find..</h2>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
  <Archive postsByYear={postsByYear}/>

</BaseLayout>


