---
// Import the VideoGrid component
import VideoGrid from '../components/VideoGrid.astro';
---

<html>
<head>
  <title>Video Grid Example</title>
</head>
<body>
  <h1>My Video Grid</h1>
  <!-- Use the VideoGrid component -->
  <VideoGrid />
</body>
</html>
