---
const { title, url, pubDate } = Astro.props
console.log(pubDate)
const formattedDate = new Intl.DateTimeFormat('en-US', { 
    year: 'numeric', 
    month: 'short', 
    day: '2-digit' 
}).format(pubDate);
---
<div class="grid grid-cols-[minmax(100px,auto)_1fr] gap-4">
    <div class="date-mono w-32">{formattedDate}</div><div><a href={url}>{title}</a></div>
</div>