---
import Social from "./Social.astro";
import BuildTime from "./BuildTime.astro";
---
<div class="absolute bottom-0 left-0 w-full -mb-4">
<img class="w-1/2 md:w-1/5 mt-20 md:mt-30 ml-auto mr-auto" src="/images/site/NFL_LOGO_EV3_02_GRGR_600px.png" alt="Near Future Laboratory" />

<footer class="flex justify-center">
    <!-- <div class="grid grid-cols-2 s:grid-cols-4 md:grid-cols-4 lg:grid-cols-4 gap-y-8 gap-x-20 mt-20 mb-10">
    <div class="justify-center items-center">
    <Social platform="twitter" username="nearfuturelab" />
    </div>
    <div class="justify-center items-center">
    <Social platform="instagram" username="nearfuturelaboratory" />
    </div>
    <div class="justify-center items-center">
        <Social platform="instagram" username="darthjulian" />
    </div>
    <div class="justify-center items-center">
    <Social platform="linkedin" username="in/julianbleecker" />
    </div>
    <div class="justify-center items-center">
    <Social platform="youtube" username="@nearfuturelaboratory" />
    </div>
    </div> -->
    
</footer>

<BuildTime/>
</div>
