---
import Social from "./Social.astro";
import BuildTime from "./BuildTime.astro";
---

<!-- <style>
   /* footer {
       /* display: flex; */
       gap: 0.5rem;
       margin-top: 4rem;
   } */
</style> -->
<img class="w-1/2 md:w-1/5 mt-20 md:mt-30 ml-auto mr-auto" src="/images/site/NFL_LOGO_EV3_02_GRGR_600px.png" alt="Near Future Laboratory" />

<footer class="flex justify-center">
    <div class="grid grid-cols-2 s:grid-cols-4 md:grid-cols-4 lg:grid-cols-4 gap-y-8 gap-x-20 mt-20 mb-10">
<!-- <footer class="grid grid-cols-2 s:grid-cols-4 md:grid-cols-4 lg:grid-cols-4 gap-y-8 mt-20 mb-10"> -->
    <div class="justify-center items-center">
    <Social platform="twitter" username="nearfuturelab" />
    </div>
    <div class="justify-center items-center">
    <Social platform="instagram" username="nearfuturelaboratory" />
    </div>
    <div class="justify-center items-center">
        <Social platform="instagram" username="darthjulian" />
    </div>
    <div class="justify-center items-center">
    <Social platform="linkedin" username="in/julianbleecker" />
    </div>
    <div class="justify-center items-center">
   <!-- <img src="/images/svgs/youtube.svg"/><a href="">@nearfuturelaboratory</a> -->
        <Social platform="youtube" username="@nearfuturelaboratory" />
    </div>
    </div>

    <!-- <div class="flex items-center">
        <img src="/images/svgs/youtube.svg" alt="SVG Image" class="w-15 h-15 m-0" style="width: 50px; height: 50px;">
        <div class="bg-gray-300 rounded p-2 ml-0">
            <date>Your text here</date>
        </div>
    </div> -->

    
</footer>

<BuildTime/>
