---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import {SEO} from "astro-seo";

import ThemeIcon from "./ThemeIcon.astro";
const { pageTitle, frontmatter } = Astro.props;
const imageUrl = frontmatter.image && frontmatter.image.url ? 
                 Astro.site + frontmatter.image.url : 
                 Astro.site + "/favicon.svg";
const imageAlt = frontmatter.image && frontmatter.image.altText ? frontmatter.image.altText : "Design Fiction";
const url = Astro.url;
// console.log("Image URL: ", imageUrl);
---
<head>
  <!-- Google tag (gtag.js) -->
<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-E5RWMELJ2B"></script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-E5RWMELJ2B');
</script>
  <title>{pageTitle}</title>
  <SEO
      title={frontmatter.title},
      description={frontmatter.description}
      openGraph={{
        basic: {
          title:frontmatter.title,
          type: frontmatter.og_type ? frontmatter.og_type : "article",
          image: imageUrl,
          url: url
        }
      }}
      twitter={{
        creator:"@nearfuturelab",
        card: "summary_large_image",
        image: imageUrl,
        imageAlt: imageAlt
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: imageUrl,
          },
          {
            name: "twitter:card", content: 'summary-large-image'
          },
          {
            name: "twitter:site", content: "@nearfuturelab"
          },
          { name: "twitter:title", content: frontmatter.title },
          { name: "twitter:description", content: frontmatter.description },
        ],
      }}
    />
  <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8" >
  <nav>
    <Hamburger />
    <!-- <ThemeIcon /> -->
    <Navigation />
  </nav>
</head>
