---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import "../styles/bundle.css";
import "../styles/fonts.css"
const { headTitle, pageTitle } = Astro.props;
---
<html>
    <Header pageTitle={headTitle}/>
    <body>
    <div class="posttitle mt-4 mb-5">{pageTitle}</div>
    <slot />
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>