---
import ProjectsHeader from "../components/ProjectsHeader.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import "../styles/projects_bundle.css";
import "../styles/fonts.css"

// Create a complete instance
const { headTitle, pageTitle } = Astro.props;
let { frontmatter } = Astro.props;
---
<html>
    <ProjectsHeader pageTitle={pageTitle} frontmatter={frontmatter}/>
    <body>
    <div class="posttitle mt-4">{frontmatter.projectName}</div>
    <div class="postsubtitle mt-2 mb-5">{frontmatter.subtitle}</div>
    <slot />

    <div class="contact">
      Want to learn more? Curious how we work? Feel like your organization could use a bit more Imagination to help make sense of the dynamic character of a kinetic marketplace?
      
      <a href="mailto:julian@nearfuturelaboratory.com">Contact us to discuss</a> how you can engage Near Future Laboratory to help you make sense of the futures your organization will face.
      </div>

    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>